
.mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-section {
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;
width: 400px;
min-height: 500px;

background-color: #ffffff;
border-radius: 15px;
box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
}