
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    }
    
    /* header */
    .navbar {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    /* Box 1 */
    .nav-logo {
    height: 50px;
    width: 100px;
    }
    
    .logo {
    background-image: url(img/images.png);
    height: 50px;
    width: 100%;
    background-size: cover;
    border-radius: 100px;
    margin-left: 40px;
    }
    
    /* Box 2 */
    .menu {
    margin-right: 20px;
    }
    
    .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    }
    
    /* Box 3 */
    .sign-1 {
    font-size: 25px;
    padding-right: 30px;
    }
    
    .sign-2 {
    font-size: 25px;
    padding-right: 50px;
    }
    
    /* Box mix */
    .mix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    /* Box Split */
    .split {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    }
    
    .btn {
    display: flex;
    justify-content: center;
    padding-top: 420px;
    }
    
    .btn-1 {
    background-color: white;
    color: black;
    block-size: 70px;
    inline-size: 180px;
    border-radius: 60px;
    size: 1.3rem;
    }
    .navbar a:hover {
        color: orange;
        }
    
    .btn-1:hover {
    border: 2px solid red;
    }
    .menu a :hover {
    color: pink;
    }
    
    .box {
    height: 350px;
    width: 23%;
    background-color: rgb(255, 151, 224);
    padding: 20px 0px 15px;
    margin-top: 15px;
    }
    
    .box-img {
    height: 300px;
    background-size: cover;
    }
    
    .text {
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
    
    button {
    padding: 5px 10px;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    outline: none;
    border-style: none;
    }
    
    button:hover {
    border: 2px solid white;
    }
    
    .training-sec h3 {
    margin-right: 30px;
    flex-direction: row;
    }
    h3 {
        margin-left: 22px;
        font-size: 2rem;
        margin-bottom: 5px;
    }
    h2 {
        margin-right: 30px;    
        }
    
    .box-content {
    margin-left: 1rem;
    margin-right: 1rem;
    }
    
    /* Footer */
    footer {
    margin-top: 30px;
    height: 170px;
    background-color: black;
    }
    
    .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    
    .info-1 {
    color: white;
    padding-top: 25px;
    padding-left: 100px;
    }
    
    .info strong {
    font-size: 1.6rem;
    }
    
    .info p {
    color: grey;
    padding-top: 20px;
    }
    
    .pic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 500px;
    }
    
    .pic-1 {
    height: 40px;
    width: 40px;
    margin-right: 40px;
    background-image: url(img/instagram.png);
    background-size: cover;
    border-radius: 50px;
    }
    
    .pic-2 {
    height: 40px;
    width: 40px;
    margin-right: 40px;
    background-image: url(img/youtube.png);
    background-size: cover;
    border-radius: 50px;
    }
    
    .pic-3 {
    height: 40px;
    width: 40px;
    background-image: url(img/twitter.png);
    background-size: cover;
    border-radius: 50px;
    }
    
    /* Login page style */
    .Login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 800px;
        background-color: white;
    }
    /* Navbar header */
    .header {
        height: 550px;
        width: 100%;
        background-size: cover;
        }
    .signinForm {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width:400px;
        min-height: 500px;
        background-color:#ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 1px 1px gray;
    }
    .login-box input {
        width:300px;
        height: 35px;
        border: solid gray 0.07px;
        border-radius: 10px;
        padding-left: 15px;
    }
    .login-box button {
        width:200px;
        height: 50px;
        border-radius: 20px;
    }


    .btnContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .btnContainer button {
        margin-bottom: 30px;
    }

    .btnContainer button:hover {
        background-color: green;
        color: white;
    }

    .btnSignup {
        background-color: #ffffff;
        border: black solid 1px;
        color: black;
    }

    button a {
        text-decoration: none;
        color: white;
    }

    .btnSignup a {
        text-decoration: none;
        color: black;
    }
    .btnSignup a:hover {
        text-decoration: none;
        color: white;
    }